<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <appSettings>
      <add key ="fileToRead" value="data.xlsx"/>
      <add key ="columnsToRead" value="2,7"/>
      <add key = "printResult" value="file"/>
      <add key ="columnToWrite" value="2"/>
    </appSettings>
</configuration>